/**
 * icon-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-icon-grid {
  position: relative;
  @extend %section-padding;

  .icon-grid__heading {
    @extend %h4;
    @extend %raleway;
    margin-bottom: $padding-xsmall;
    padding-left: 0;
    font-weight: $text-bold;
  }

  .icon-grid__icons {
    position: relative;
    list-style: none;
    width: calc( 100% + #{$grid-column-padding*2} );
    margin-left: $grid-column-padding * -1;
    margin-bottom: $padding-xsmall;
  }

  .icon-grid__block {
    margin-top: $padding-medium;

    h1, h2, h3, h4, h5, h6 {
      color: $coal;
    }

    p, time, li, dd {
      color: $battleship;
    }

    li {
      padding-top: #{rem-calc(6)};
      padding-bottom: #{rem-calc(6)};
    }
  }

  .icon-grid__block__icon {

    .icon {
      @extend %coin;
      width: rem-calc(25);
      height: rem-calc(25);
    }

  }

  .icon-grid__block__title {
    h2, h3, h4, h5, h6 {
      @extend %label;
      font-weight: $text-med;
      margin-bottom: rem-calc(10);
    }
  }

  .icon-grid__block__caption {

    p {
      @extend %small;
      margin-top: 0;
      font-weight: $text-light;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  @include screen-lg-up {
    .icon-grid__heading {
      margin-bottom: $padding-small;
    }

    .icon-grid__block {
      margin-top: $padding-small;
      margin-bottom: $padding-small;
    }

  }

}
