/**
 * procedures-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-procedures-grid {
  @extend %section-padding;
  padding-top: 0;

  .procedure-grid__heading {

    h2 {
      margin-bottom: rem-calc(20);
    }
  }

  .procedure-grid__procedure {
    @extend %card;
  }

  .procedure-grid__procedure__body {
    @extend %card__body;

    p {
      @extend %small;
    }
  }

  .procedure-grid__procedure__meta {
    @extend %card__meta;
    p {
      width: 100%;
    }
  }

  .procedure-grid__procedure__title {
    @extend %card__title;
  }

  .procedure-grid__procedure__cta {
    @extend %card__cta;
  }

  .procedure-grid__procedure__icon {
    @extend %card__icon;
  }

  .procedure-grid__nav {
    @extend %card__nav;
  }
}