/**
 * counters Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-counters {
  @extend %section-margins;

  .counters__heading {
    color: $coal;
  }

  .counters__subheading {
    @extend %p;
    margin-bottom: rem-calc(4);
    font-weight: $text-bold;
    color: $battleship;
  }

  .counters__content {

    p {
      margin-top: 0;
      font-weight: $text-light;
      color: $battleship;
    }
  }

  .counters__column__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .counters__column__title {
    @extend %h3;
    margin-top: $padding-small;
    margin-bottom: rem-calc(10);
    color: $coal;
  }

  .counters__column__description {
    @extend %p;
    color: $battleship;
    font-weight: $text-light;
    margin-bottom: $padding-small;
  }

  @include screen-md-up {

    .counters__column__title {
      margin-top: $padding-medium;
    }

    .counters__column__description {
      margin-bottom: $padding-medium;
    }
  }

}
