/**
 * teaser Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-teaser {
  @extend %section-padding;

  .teaser__icon {
    svg {
      fill: $aqua;
    }
  }

  .teaser__headline {
    @extend %p;
    margin-bottom: rem-calc(10);
    margin-left: auto;
    font-weight: $text-med;
  }

  .teaser__description {
    p {
      margin-top: 0;
      color: $battleship;
      font-weight: $text-light;
    }

    *:last-child {
      margin-bottom: 0;
    }

  }

  @include screen-md {

    .teaser__headline {

      br {
        display: none
      }

    }

  }

  @include screen-md-up {

    .col {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
