/**
 * teaser Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-teaser {
  @extend %section-margins;

  .teaser__icon {
    .icon {
      width: rem-calc(40);
      height: rem-calc(40);
      margin-bottom: rem-calc(10);
      fill: #8bd2e1;

      &.icon-dv {
        width: rem-calc(45);
        height: rem-calc(45);
        margin-bottom: rem-calc(25);
      }
    }
  }

  .teaser__headline {
    @extend %p;
    margin-bottom: rem-calc(10);
    margin-left: auto;
    font-weight: $text-med;

    body.home & {
      @extend %h2;
      margin-bottom: $padding-small;
    }
  }

  .teaser__description {
    h2, .h2 {
      margin-bottom: $padding-small;

      sup {
        @extend %small;
        vertical-align: rem-calc(14);
      }
    }

    h5, .h5 {
      margin-bottom: $padding-xsmall;
    }

    p {
      margin-top: 0;
      color: $battleship;
      font-weight: $text-light;
    }

    *:last-child {
      margin-bottom: 0;
    }

  }

  @include screen-md {

    .teaser__headline {

      br {
        display: none
      }

    }

  }

  @include screen-md-up {

    .col {
      padding-left: 0;
      padding-right: 0;
    }

  }
}
