/**
 * Card
 *
 * Used width grid components ie: Blog Grid, Procedure Grid
 * A (mostly) square box with a light shadow and gradient headline
 */
%card {
  position: relative;
  min-height: rem-calc(360);//Since we want these to scale on XL+ screens, these need to be rems
  max-width: rem-calc(255);//Since we want these to scale on XL+ screens, these need to be rems
  margin: #{$padding-xsmall} auto;
  overflow: hidden;
  border: solid 1px $ivory;
  background-color: $white;

  &:hover, &:focus {
    transform: scale(1.075);
    box-shadow: 0 0 #{rem-calc(8)} 0 rgba($black, 0.26);

    [class*='__nav'] {
      color: $white;
      background-color: $black;
    }
  }

  @include screen-md-up {
    margin-top: $padding-small;
    margin-bottom: $padding-small;
  }
}

.card-grid {
  @extend %card;
}

%cards {
  width: calc(100% + #{$grid-gutter-width});
  margin-left: -1 * $grid-gutter-width/2;;
}

.card-grid__posts {
  @extend %cards;
}

%card__figure {
  min-height: rem-calc(209);//Since we want these to scale on XL+ screens, these need to be rems
  height: calc( 33.3334vw/2 - #{$padding-small} );
}

.card-grid__feature__wrapper {
  @extend %card__figure;
}

%card__body {
  min-height: rem-calc(114);//Since we want these to scale on XL+ screens, these need to be rems
  padding-right: $padding-xsmall;
  padding-left: $padding-xsmall;

  @include screen-md-up {
    padding-right: $padding-small;
    padding-left: $padding-small;
  }

  p {
    color: $coal;
    font-weight: $text-light;
  }
}

.card-grid__body {
  @extend %card__body;

  p {
    @extend %small;
  }
}

%card__title {
  @extend %h6;
  color: $battleship;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  padding-right: $padding-xsmall;
  padding-left: $padding-xsmall;

  a {
    font-size: inherit;
    font-weight: inherit;
  }

  @include screen-md-up {
    padding-right: $padding-small;
    padding-left: $padding-small;
  }
}

.card-grid__title {
  @extend %card__title;
}

%card__meta {
  @extend %small;
  display: flex;
  padding: $padding-xsmall;
  border-top: solid 1px $ivory;
  color: $ebony;

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    color: $ebony;
  }

  svg {
    height: rem-calc(17);
    width: rem-calc(17);
    fill: $aluminum;
  }
}

.card-grid__meta {
  @extend %card__meta;
}

%card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: rem-calc(55);
  width: rem-calc(55);
  margin-right: auto;
  margin-left: auto;
  padding-top: $padding-medium;
  padding-bottom: calc(#{$padding-medium} - #{rem-calc(20)});
  background-color: transparent;

  svg {
    width: inherit;
    height: inherit;
    fill: #8CD2E1;
    stroke: #8CD2E1;
  }
}

%card__cta {
  @extend %btn;
  padding: rem-calc(14);
  color: $ebony;
  background-color: $white;
}

.card-grid__cta {
  @extend %card__cta;
}

%card__nav {
  padding: #{rem-calc(38)} #{$padding-small} #{rem-calc(29)};
  margin: #{rem-calc(20)} auto auto auto;

  .btn {
    width: rem-calc(236);
  }

  @include screen-md-up {
    padding-right: rem-calc(40);
    padding-left: rem-calc(40);
  }
}

.card-grid__nav {
  @extend %card__nav;
}