/**
 * Heading styles
 */

.hdg {
  margin-top: rem-calc(172);

  .hdg__title {
    @extend %h3;
    margin-bottom: $padding-small;
    margin-left: auto;
  }

  @include screen-md-up {
    .hdg__title {
      margin-bottom: $padding-medium;
    }

  }
}
