/**
 * Post
 *   Used on single post pages
 */
.post {
  padding-top: $padding-small;
  padding-bottom: $padding-medium * 1.25;

  @include screen-lg-up {
    padding-top: $padding-medium;
    padding-bottom: $padding-large * 1.25;
  }

  &.container {
    max-width: initial;
  }

  ul {
    list-style: none;

    li {
      position: relative;

      &:before {
        position: absolute;
        content: '•';
        margin-top: rem-calc(4);
        left: -1 * $grid-gutter-width;
        font-size: rem-calc(12);
      }
    }
  }

}

.post__hdg {
}

.post__content {

  > {

    *:not(blockquote) {
      max-width: rem-calc(1130);//Since we want these to scale on XL+ screens, these need to be rems
      margin-left: auto;
      margin-right: auto;
    }

    p, li, time, td, th, dt, dd {
      color: $battleship;
      font-weight: $text-light;
    }

    p, ul {
      margin-bottom: $padding-xsmall;

      @include screen-md-up {
        margin-bottom: $padding-small;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    ul, ol {
      margin-left: rem-calc(18);
    }

    blockquote {
      margin-top: $padding-large;
      margin-bottom: $padding-large;
    }

  }

}

.post__title {
  @extend %title;

}

.post__image {

}