/**
 * social list Styles
 * ----------------------------------------------------------------------------
 *
 * List of linked social icons. Icons are created within the svg system
 *
 */

.social-list {
  display: block;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.social-list__item {
  display: flex;
  margin: auto;
  font-size: rem-calc(14);
  line-height: line-calc(22,14);
}

.social-list__link {
  color: $white;
  width: rem-calc(44);
  height: rem-calc(44);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem-calc(8);

  &:hover {

    .icon {
      border-color: $aqua;
      color: $aqua;
    }
  }

  .icon {
    border: solid #{rem-calc(2)} white;
    border-radius: 200px;
    width: 100%;
    height: 100%;

    use {
      transform: scale(0.5);
      transform-origin: center;
    }
  }
}