/**
 * Footer styles
 */
.footer {
  background-color: $ebony;

  * {
    color: $white;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .menu-item {
    @extend %raleway;
    display: flex;
    flex: 1 0.33 auto;
    color: $white;
    font-size: rem-calc(11);
    line-height: line-calc(24,11);
    font-weight: $text-bold;

    a[href*="#"] {
      font-size: rem-calc(18);
      font-weight: $text-bold;
      line-height: 24px;
      line-height: 1.33333333333333;
      pointer-events: none;
    }
  }

  .footer__logo_wrap {
    display: flex;
    flex-direction: column;

    .footer__logo__anchor {
      width: rem-calc(54);
      height: rem-calc(54);
      fill: $white;
      color: $white;
    }

  }

  .footer__logo__address {
  }

  .footer__top {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);
  }

  .footer__social_wrap {
    margin-right: 0;
    margin-left: auto;
  }

  .footer__address__title,
  .footer__hours__title,
  .footer__contact__title,
  .footer__social__title {
    @extend %h4;
    color: $battleship;
    margin-top: rem-calc(4);
    margin-bottom: rem-calc(8);
  }

  .footer__contact__phone,
  .footer__contact__fax,
  .footer__hours__days,
  .footer__hours__time,
  .footer__address {
    @extend %label;
  }

  .footer__additional_details__wrap {
    margin-bottom: rem-calc(15);
  }

  .footer__hours__time {
    @extend %raleway;
    font-weight: $text-med;
    margin-left: $grid-gutter-width;
  }

  .footer__bottom {
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(32);
  }

  .footer__copyright,
  .footer__credits {
    > * {
      margin: auto;
      font-size: rem-calc(14);
      font-weight: $text-light;
      color: $aluminum;
      line-height: line-calc(22,14);
    }
    a {
      color: inherit;

      &:hover, &:focus {
        color: $aqua;
      }
    }
  }

  @include screen-md-up {

    .nav {

      > .menu-item {
        width: 33.333333333334%;
        max-width: 33.333333333334%;
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
        font-size: rem-calc(14);
        line-height: line-calc(32,14);
      }

    }

  }

  @include screen-lg-up {

    .footer__top {
      flex-direction: column;
      padding-top: rem-calc(48);
      padding-bottom: rem-calc(48);
    }

    .footer__logo_wrap,
    .footer__copyright {
      padding-left: 0;
    }

    .footer__navigation_wrap,
    .footer__credits {
      padding-right: 0;
    }

    .footer__credits {
      text-align: right;

      p {
        justify-content: flex-end;
      }
    }
  }

  @include screen-sm {
    .footer__logo_wrap,
    .footer__navigation_wrap,
    .footer__social_wrap {
      margin-top: $padding-small;
      margin-right: auto;
      margin-left: auto;
    }

    .footer__logo_wrap,
    .footer__navigation_wrap {
      margin-bottom: $padding-xsmall;
    }

    .footer__logo__address,
    .footer__logo__anchor {
      width: rem-calc(180);
      margin-left: 0;
      margin-right: auto;
    }

    .footer__copyright {
      text-align: center;
      margin-bottom: rem-calc(30);
    }

    .footer__disclaimer {
      > * {
        text-align: center;
      }

    }

    .nav {
      justify-content: center;

      > .menu-item {
        width: 50%;

        &:nth-child(odd) {
          padding-right: $padding-xsmall;
        }

        &:nth-child(even) {
          padding-left: $padding-xsmall;
        }

      }

    }

  }
}