/**
 * hero Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-hero {
  position: relative;
  min-height: rem-calc(320);
  height: 42vh;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 0 !important;
  padding-top: rem-calc(94);
  text-align: left;

  + .entry__meta {
   padding-top: $padding-small;
  }

  .container {
    flex-wrap: wrap;
    min-height: 100%;
  }

  .hero__button,
  .hero__heading,
  .hero__supertitle {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__feature__photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $powder;
  }

  .hero__supertitle {
    @extend %supertitle;
    @extend %roboto;
    color: $silver;
    margin-bottom: $padding-xsmall;
  }

  .hero__heading {
    @extend %h0;
    color: $black;
  }

  .hero__button {
    margin-top: $padding-small * 0.75;

    a, button {
      @extend %roboto;
      @extend %btn--shadow;
      padding: #{rem-calc(21)} #{rem-calc(32)};
    }
  }

  .play-video-button {
    @extend %icon-link;
    margin-top: rem-calc(21);
  }

  &:after {
    bottom: 0;
    border-width: #{rem-calc(75)} 100vw 0 0;
    border-color: transparent $white transparent transparent;
  }

  @include screen-sm {

    .hero__heading,
    .hero__supertitle,
    .hero__button {
      margin-right: auto;
      margin-left: auto;
    }

  }

  @include screen-md-up {
    height: 85vh;

    body.admin-bar & {
      padding-top: rem-calc(60);

      .container {
        min-height: calc(100% - #{rem-calc(60)});
      }
    }

    .hero__heading,
    .hero__supertitle {
      min-width: 50.01%;//This lil' hack forces a stack
    }

    .hero__supertitle {
      margin-bottom: $padding-small;
    }

    .hero__button {
      margin-top: $padding-medium * 0.75;
    }

  }

  @include screen-lg-up {
    min-height: rem-calc(637);
  }

  @include screen-xl-up {
    min-height: rem-calc(975);
  }
}