/**
 * location-map Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-location-map {
  position: relative;
  height: 80vh;
  max-height: rem-calc(616);

  .location-map__googlemap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: rem-calc(616);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
