/**
 * timeline Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-timeline {
  @extend %section-margins;

  .timeline__milestones {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      left: calc(50% - 0.5px);
      background-color: $grey;
    }

  }

  .timeline__milestone {
    flex-direction: column;

    &:nth-child(even) {
      text-align: left;
      align-self: flex-end;
      margin-top: $padding-medium;
      padding-left: $padding-medium;

      .timeline__milestone__year:before {
        left: calc( -1 * (#{$padding-medium} + #{rem-calc(6.5)}));
      }
    }

    &:nth-child(odd) {
      text-align: right;
      align-self: flex-start;
      margin-top: -1 * $padding-medium;
      padding-right: $padding-medium;

      &:first-child {
        margin-top: 0;
      }

      .timeline__milestone__year:before {
        right: calc( -1 * (#{$padding-medium} + #{rem-calc(6.5)}));
      }
    }
  }

  .timeline__milestone__year {
    @extend %h3;
    position: relative;
    font-weight: $text-light;
    color: $coal;
    margin-bottom: rem-calc(10);

    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      height: rem-calc(12);
      width: rem-calc(12);
      background-color: $grey;
      border-radius: 200px;
      border: solid #{rem-calc(3)} $white;
      line-height: rem-calc(12);
    }
  }

  .timeline__milestone__content {
    @extend %p;

    * {
      max-width: rem-calc(400);
    }

    p {
      margin-top: 0;
      margin-bottom: rem-calc(10);
      font-size: rem-calc(10);
      line-height: line-calc(18,10);
      font-weight: $text-light;
      color: $battleship;
    }
  }

  .timeline__milestone__content__title {
    @extend %h6;
    font-weight: $text-reg;
    color: $ebony;
    margin-bottom: rem-calc(10);
  }

  .timeline__milestone__content__events {

    li {
      @extend %label;
      margin-bottom: rem-calc(5);
      margin-left: rem-calc(30);
      font-weight: $text-bold;
      color: $coal;

      &:before {
        position: absolute;
        display: inline-flex;
        content: 'DV';
        color: $white;
        border-radius: 200px;
        margin-left: rem-calc(-30);
        padding: rem-calc(3);
        font-size: rem-calc(10);
        background-color: $coal;
        width: rem-calc(20);
        height: rem-calc(20);
        align-content: center;
        justify-content: center;
        text-align: center;
        font-weight: $text-light;
      }
    }
  }

  @include screen-md-up {

    .timeline__milestone:nth-child(odd) {

      * {
        margin-right: 0;
        margin-left: auto;
      }

    }

    .timeline__milestone__content {

      p {
        font-size: rem-calc(14);
        line-height: line-calc(26,14);
      }

    }
  }

}
