/**
 * prefooter Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-prefooter {
  position: relative;

  .container {
    overflow: hidden;
    min-height: 75vw;
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
  }

  .prefooter__heading,
  .prefooter__nav {
    min-width: 50.01%;//This lil' hack forces a stack
    margin-right: auto;
    margin-left: auto;
  }

  .prefooter__heading {
    @extend %h2;
    font-weight: $text-med;
    color: $white;
  }

  .prefooter__nav {
    position: relative;

    &:before {
      position: absolute;
      left: calc(50% - #{rem-calc(25)} - #{$grid-gutter-width/2});
      content: 'or';
      width: rem-calc(50);
      margin-top: rem-calc(24);
      color: $coal;
      font-size: rem-calc(22);
      font-weight: $text-med;
      text-align: center;
      line-height: line-calc(36,22);
    }

    button, *[class*="btn"] {
      @extend %roboto;
      font-size: rem-calc(22);
      min-width: rem-calc(254);
    }
  }

  .prefooter__button {
    flex: 1 1 auto;
    margin-top: $padding-small;
    font-weight: $text-med;
  }

  @include screen-sm-up {
    .container {
      min-height: 50vh;
    }

    .prefooter__button {
      margin-right: $grid-gutter-width * 2;
      margin-left: $grid-gutter-width * 2;
    }

  }

  @include screen-md {
    .prefooter__nav {

      &:before {
        margin-top: rem-calc(12);
      }
    }

  }

  @include screen-md-up {

    .container {
      min-height: rem-calc(461);
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }

    .prefooter__button {
      margin-top: $padding-medium;
      flex: 0 1 auto;
    }

  }

}
