/**
 * fullwidth-image Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-fullwidth-image {
  @extend %section-padding;
  height: 50vh;
  min-height: rem-calc(320);

  @include screen-xl-up {
    min-height: rem-calc(640);
  }
}
