/**
 * hero-home Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-hero-home {
  position: relative;
  min-height: rem-calc(320);
  height: 42vh;
  overflow: hidden;
  padding-top: rem-calc(58);
  background-color: $battleship;

  * {
    color: $white;
  }

  .hero-home__container {
    min-height: inherit;
  }

  .hero-home__heading {
    @extend %h2;
    font-weight: $text-reg;
    color: $white;
    text-shadow: 0  #{rem-calc(2)} #{rem-calc(7)} rgba($black, 0.5);
  }

  .play-video-button {
    margin-top: rem-calc(21);
  }

  .hero-home__nav {
    padding-bottom: $padding-small;
  }

  @include screen-sm {

    .hero-home__nav {
      padding-bottom: 0;
    }

    .hero-home__button {
      margin-top: rem-calc(16);
    }
  }

  @include screen-md-up {
    min-height: rem-calc(637);
    height: 85vh;

    body.admin-bar & {
      padding-top: rem-calc(90);
    }

    .hero-home__nav {
      padding-bottom: $padding-medium;
    }

  }

  @include screen-xl-up {
    min-height: rem-calc(637*1.25);

    body.admin-bar & {
      padding-top: rem-calc(74);
    }

    .hero-home__nav {
      padding-bottom: $padding-large * 2;
    }

  }
}