/**
 * hero-home Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-hero-home {
  position: relative;
  min-height: rem-calc(320);
  height: auto;
  overflow: hidden;
  padding-top: rem-calc(58);
  background-color: $battleship;

  * {
    color: $white;
  }

  .hero-home__container {
    min-height: inherit;
  }

  .hero-home__heading {
    @extend %h2;
    margin-top: $padding-large;
    font-weight: $text-reg;
    color: $white;
    text-shadow: 0  #{rem-calc(2)} #{rem-calc(14)} rgba($black, 0.5);
  }

  .play-video-button {
    @extend %icon-link;
    margin-top: rem-calc(21);
    svg {
      box-shadow: 0 0 2px white inset, 0 0 2px white inset, 0 0 2px white inset, 0 0 2px white inset, 0 0 2px white inset, 0 0 2px white inset, 0 0 2px white inset;//This adds a tiny bit of anti-aliasing to the play button.
    }
  }

  .hero-home__nav {
    padding-bottom: $padding-large;
  }

  .hero-home__cta {
    margin-bottom: $padding-medium;
  }

  .hero-home__button {
    @extend %h4;
  }

  @include screen-md-up {
    min-height: rem-calc(637);

    body.admin-bar & {
      padding-top: rem-calc(90);
    }

    .hero-home__heading {
      margin-top: $padding-large * 2;
    }

    .hero-home__nav {
      padding-bottom: $padding-large * 2;
    }

    .hero-home__cta {
      margin-bottom: $padding-large;
    }

  }

  @include screen-xl-up {
    min-height: rem-calc(637*1.25);

    body.admin-bar & {
      padding-top: rem-calc(74);
    }

  }
}