/**
 * doctor-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-doctor-grid {
  @extend %section-padding;

  .doctor-grid__anchor {
    @extend %h1;
    display: none;
    position: absolute;
    right: 0;
    color: $black;
    background-color: $white;
  }

  .doctor-grid__item {
    margin-bottom: $padding-medium;
  }

  .doctor-grid__image {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    min-height: rem-calc(355);
    align-items: center;
    list-style: none;
    background-size: cover;
    background-color: $aluminum;
  }

  .doctor-grid__caption__title {
    @extend %h6;
    margin-bottom: rem-calc(5);
    color: $coal;
  }

  .doctor-grid__caption__position,
  .doctor-grid__caption__expertise {
    @extend %label;
    margin-bottom: 0;
    color: $battleship;
  }

  @include screen-md-up {

    .doctor-grid__item:hover {
      .doctor-grid__anchor {
        opacity: 1;
      }
    }

    .doctor-grid__anchor {
      display: flex;
      opacity: 0;
    }

    .doctor-grid__image {
      min-height: rem-calc(438);
    }

    .doctor-grid__item {
      margin-bottom: $padding-large;
    }

  }
}